<section class="share">
  <div class="design__title">
    <div class="design__title-container">
      <i class="fas fa-share-alt icon-design"></i>
      <h2 class="design__main-title">Comparte</h2>
    </div>
    <div class="design__down-up">
      <i class="js-arrow-up fas fa-angle-up icon-up"></i>
      <i class="js-arrow-down fas fa-angle-down icon-down"></i>
    </div>
  </div>
  <div class="create-card">
    <button class="create-card__button">
      <i class="far fa-address-card created-card__button-icon"></i>
      <h3 class="button__created-title">Crear tarjeta</h3>
    </button>
  </div>
</section>
