<section class="fill">
  <div class="design__title js-form-title2">
    <div class="design__title-container">
      <i class="far fa-keyboard icon-design"></i>
      <h2 class="design__main-title">Rellena</h2>
    </div>
    <div class="design__down-up">
      <i class="fas fa-angle-up icon-up js-arrow-up"></i>
      <i class="fas fa-angle-down icon-down js-arrow-down"></i>
    </div>
  </div>
  <form class="fill__form js-form-fill js-form" action="GET">
    <label for="text" class="label fill__name">Nombre completo</label>
    <input class="fill__input js-fill-name" type="text" name="text" placeholder="Ej: Sally Jill" />
    <label for="text" class="label fill__job">Puesto</label>
    <input
      class="fill__input js-fill-job"
      type="text"
      name="text"
      placeholder="Ej: Front-end unicorn"
    />
    <label class="label fill__img" for="text">Imagen de perfil</label>

    <div class="action">
      <button class="action__upload-btn js__profile-trigger" type="button">Añadir imagen</button>
      <input
        type="file"
        name=""
        id="img-selector"
        class="action__hiddenField js__profile-upload-btn"
      />
      <div class="profile">
        <div class="profile__preview js__profile-preview"></div>
      </div>
    </div>
    <label for="email" class="label fill__email">Email</label>
    <input
      class="fill__input js-fill-email"
      type="email"
      name="email"
      placeholder="Ej: sally-hill@gmal.com"
    />
    <label for="tel" class="label fill__tel">Teléfono</label>
    <input class="fill__input js-fill-tel" type="tel" name="tel" placeholder="Ej: 555-55-55-55" />

    <label for="text" class="label fill__linkedin">Linkedin</label>
    <input
      class="fill__input js-fill-linkedin"
      type="text"
      name="text"
      placeholder="Ej: linkedin.com/in/sally.hill"
    />
    <label for="text" class="label fill__github">Github</label>
    <input
      class="fill__input js-fill-github"
      type="text"
      name="text"
      placeholder="Ej: @github-hill"
    />
  </form>
</section>
