<section class="design">
  <div class="design__title js-form-title1">
    <div class="design__title-container">
      <i class="far fa-object-ungroup icon-design"></i>
      <h2 class="design__main-title">Diseña</h2>
    </div>
    <div class="design__down-up">
      <i class="fas fa-angle-up icon-up js-arrow-up"></i>
      <i class="fas fa-angle-down icon-down js-arrow-down"></i>
    </div>
  </div>
  <div class="design__palette js-form-palette js-form">
    <h3 class="design__palette-title">Colores</h3>
    <div class="design__palette-color">
      <form action="#" class="js-palettes">
       <!-- asociado a JS -->
      </form>
    </div>
  </div>
</section>
