<section class="fill">
  <div class="design__title js-design__title2">
    <div class="design__title-container">
      <i class="far fa-keyboard icon-design"></i>
      <h2 class="design__main-title">Rellena</h2>
    </div>
    <div class="design__down-up">
      <i class="fas fa-angle-up icon-up"></i>
      <i class="fas fa-angle-down icon-down"></i>
    </div>
  </div>
  <form class="fill__form js-fill__form" action="GET">
    <label for="text" class="label fill__name">Nombre completo</label>
    <input class="fill__input js-fill" type="text" name="text" id = "js-name" placeholder="Ej: Sally Jill" />
    <label for="text" class="label fill__job">Puesto</label>
    <input class="fill__input js-fill" type="text"   id = "js-job" name="text" placeholder="Ej: Front-end unicorn" />
    <label class="label fill__img" for="text">Imagen de perfil</label>

    <div class="action">
      <button class="action__upload-btn js__profile-trigger" type="button">Añadir imagen</button>
      <input
        type="file"
        name=""
        id="img-selector"
        class="action__hiddenField js__profile-upload-btn"
      />
      <div class="profile">
        <div class="profile__preview js__profile-preview"></div>
      </div>
    </div>
    <label for="email" class="label fill__email">Email</label>
    <input class="fill__input js-fill" type="email"  id ="js-email" name="email" placeholder="Ej: sally-hill@gmal.com" />
    <label for="tel" class="label fill__tel">Puesto</label>
    <input class="fill__input js-fill" type="tel" id = "js-telephone" name="tel" placeholder="Ej: 555-55-55-55" />

    <label for="text" class="label fill__linkedin">Linkedin</label>
    <input
      class="fill__input js-fill"
      type="text"
      id = "js-linkedin"
      name="text"
      placeholder="Ej: linkedin.com/in/sally.hill"
    />
    <label for="text" class="label fill__github ">Github</label>
    <input class="fill__input js-fill"  id = "js-github" type="text" name="text" placeholder="Ej: @github-hill" />
  </form>
</section>
