<section class="design">
  <div class="design__title">
    <div class="design__title-container">
      <i class="far fa-object-ungroup icon-design"></i>
      <h2 class="design__main-title">Diseña</h2>
    </div>
    <div class="design__down-up">
      <i class="fas fa-angle-up icon-up"></i>
      <i class="fas fa-angle-down icon-down"></i>
    </div>
  </div>
  <div class="design__palette">
    <h3 class="design__palette-title">Colores</h3>
    <div class="design__palette-color">
      <form action="#">
        <div class="green">
          <input type="radio" name="palette" value="palette-1" class="green0" />
          <span class="green__1"></span>
          <span class="green__2"></span>
          <span class="green__3"></span>
        </div>
        <div class="red">
          <input type="radio" name="palette" value="palette-2" class="red0" />
          <span class="red__1"></span>
          <span class="red__2"></span>
          <span class="red__3"></span>
        </div>
        <div class="random">
          <input type="radio" name="palette" value="palette-3" class="random0" />
          <span class="random__1"></span>
          <span class="random__2"></span>
          <span class="random__3"></span>
        </div>
      </form>
    </div>
  </div>
</section>