<main class="main">
  <div class="main__reset">
    <i class="far fa-trash-alt main__reset--trash"></i>
    <a class="main__reset--button" href="">Reset</a>
  </div>

  <section class="main__photo">
    <div class="main__photo--title">
      <h4 class="name">Nombre apellido</h4>
      <p class="description">Front-end developer</p>
    </div>
    <div class="main__photo--photo">
      <div class="profile__image js__profile-image" style="
          background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
        "></div>
    </div>
    <div class="main__photo--social">
      <i class="icons fas fa-mobile-alt"></i>
      <i class="icons far fa-envelope"></i>
      <i class="icons fab fa-linkedin-in"></i>
      <i class="icons fab fa-github-alt"></i>
    </div>
  </section>
</main>