// fonts
$font-main: "Open Sans",
sans-serif;
$font-title: "Merriweather",
serif;
// colors
$color-white: #f3f4f5;
$color-backgroun-primary: #e17334;
$color-font-primary: #114e4e;
// fonts
$font-main: "OpenSans",
sans-serif;
$font-secondary: 'Montserrat',
sans-serif;

// colors
$color-white: #f3f4f5;
$color-secondary: #999;
$color-font-secondary: #114e4e;
$color-tertiary: #a2deaf;
$color-button: #54585a;
$color-input: #c5c5c5;
// $color-background-photo: linear-gradient(0deg, rgba(191, 205, 208, 1) 0%, rgba(221, 233, 237, 1) 100%);