.design {
  width: 400px;
  margin: auto;
  &__title {
    padding: 0 60px;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .icon-up,
    .icon-down {
      color: $color-button;
      font-size: 18px;
      margin-top: 27px;
    }
  }
  &__title-container {
    display: flex;
    .icon-design {
      margin: 27px 10px 0 0px;
      font-size: 18px;
      color: $color-backgroun-primary;
    }
  }
  &__main-title {
    font-size: 18px;
    margin-top: 27px;
    color: $color-button;
    font-family: $font-main;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__palette-title {
    color: $color-button;
    font-size: 14px;
    font-family: $font-main;
    margin: 22px 0 0 20px;
    text-transform: uppercase;
  }
  &__palette {
    width: 281px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #d8d8d8 solid;
    padding-bottom: 30px;
  }
  &__palette-color {
    margin-top: 28px;
    &--green {
      display: flex;
      .green__1 {
        width: 30px;
        height: 25px;
        background-color: $color-font-secondary;
      }
      .green__2 {
        width: 30px;
        height: 25px;
        background-color: $color-quaternary;
      }
      .green__3 {
        width: 30px;
        height: 25px;
        background-color: $color-tertiary;
      }
    }
    &--red {
      display: flex;
      padding-top: 20px;
      .red__1 {
        width: 30px;
        height: 25px;
        background-color: $color-palette1;
      }
      .red__2 {
        width: 30px;
        height: 25px;
        background-color: $color-palette2;
      }
      .red__3 {
        width: 30px;
        height: 25px;
        background-color: $color-palette3;
      }
    }
    &--random {
      display: flex;
      padding-top: 20px;
      .random__1 {
        width: 30px;
        height: 25px;
        background-color: $color-palette4;
      }
      .random__2 {
        width: 30px;
        height: 25px;
        background-color: $color-palette5;
      }
      .random__3 {
        width: 30px;
        height: 25px;
        background-color: $color-palette6;
      }
    }
  }
}

.green0,
.red0,
.random0 {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-top: 4px;
}
