.design__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.design__title-container {
  display: flex;
}

.icon-design {
  margin: 27px 10px 0 20px;
  font-size: 18px;
  color: $color-backgroun-primary;
}

.design__main-title {
  font-size: 18px;
  margin-top: 27px;
  color: $color-button;
  font-family: $font-main;
  font-weight: 600;
  text-transform: uppercase;
}

.icon-up,
.icon-down {
  color: $color-button;
  font-size: 18px;
  margin: 27px 30px 0 0;
}

.design__palette-title {
  color: $color-button;
  font-size: 14px;
  font-family: $font-main;
  margin: 22px 0 0 39px;
  text-transform: uppercase;
}

.design__palette {
  display: flex;
  justify-content: space-between;
}

.design__palette-color {
  margin-top: 28px;
}

.green {
  display: flex;
  margin-right: 20px;
}

.green0,
.red0,
.random0 {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-top: 4px;
}

.green__1 {
  width: 30px;
  height: 25px;
  background-color: $color-font-secondary;
}

.green__2 {
  width: 30px;
  height: 25px;
  background-color: $color-quaternary;
}

.green__3 {
  width: 30px;
  height: 25px;
  background-color: $color-tertiary;
}

.red {
  display: flex;
  padding-top: 20px;
}

.red__1 {
  width: 30px;
  height: 25px;
  background-color: $color-palette1;
}

.red__2 {
  width: 30px;
  height: 25px;
  background-color: $color-palette2;
}

.red__3 {
  width: 30px;
  height: 25px;
  background-color: $color-palette3;
}

.random {
  display: flex;
  padding-top: 20px;
}

.random__1 {
  width: 30px;
  height: 25px;
  background-color: $color-palette4;
}

.random__2 {
  width: 30px;
  height: 25px;
  background-color: $color-palette5;
}

.random__3 {
  width: 30px;
  height: 25px;
  background-color: $color-palette6;
}
